footer.footer 
	.section_in 
		.footer_main
			.footer_top 
				.footer_logo 
					a(href="#")
						img(src="i/logo.svg", alt="")
				.footer_menu 
					ul 
						li 
							a(href="#") О компании
						li 
							a(href="#") Услуги
						li 
							a(href="#") Работники
						li 
							a(href="#") “Живи Сейчас”
						li 
							a(href="#") Отзывы
						li 
							a(href="#") Контакты 
						li 
							button(type='button')
								+icon('arrow-top')
			.footer_bottom 
				.footer_policy 
					a(href="#") Политика конфиденциальности
				.footer_protect 
					p © 2023 Все права защищены
				.footer_arkada 
					a(href="#")
						img(src="i/arkada.svg", alt="") 
						