header.header 
	.section_in 
		.header_main
			.header_logo 
				a(href="#")
					img(src="i/logo.svg", alt="") 
			.header_menu 
				ul 
					li 
						a(href="#") О компании
					li 
						a(href="#") Услуги
					li 
						a(href="#") Работники
					li 
						a(href="#") “Живи Сейчас”
					li 
						a(href="#") Отзывы
					li 
						a(href="#") Контакты
			.header_link
				.header_mobil 
					a(href="#")
						p +7 (918) 114 41 75
				.header_whatsapp 
					a(href="#")
						img(src="i/icons/whatsapp1.svg", alt="") 
			.burger_trigger.trigger(data-target="menu")
				span
				span
				span




