.popup.popup_menu(data-id="menu")
	.popup_form_bg_m.close_popups.remove 
	.popup_form_m
		.popup_close_m.close_popups.remove 
			button(type="button")
				+icon('close')
		.popup_menu_head 
			.popup_logo 
				a(href="#")
					img(src="i/logo.svg", alt="")
		.popup_menu 
			ul 
				li 
					a(href="#") О компании
				li 
					a(href="#") Услуги
				li 
					a(href="#") Работники
				li 
					a(href="#") "Живи сейчас"
				li 
					a(href="#") Отзывы
				li 
					a(href="#") Контакты
		.popup_info
			.popup_tel
				img(src="i/icons/call.svg", alt="")
				a(href="#")
					p +7 (918) 114 41 75
			.popup_social 
				.popup_wh 
					a(href="#")
						img(src="i/icons/whatsapp1.svg", alt="")